#top{
	width: 100%;
	min-height: 30px;
	border-bottom-color: #ff9e3f;	
	background: black;
	margin-bottom: 0px;
}
#q{
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
}

.login{
	font-family: 'Open Sans';
	font-weight: 100;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
  min-height: 600px ;
}
.labelcheckbox{
	width: calc(100% - 3rem);  
	display: block;
  	margin: 10px;
  	padding: .5rem;
  	color: white;
  	font-family: 'Open Sans';
}
input ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
input:focus {
  outline: 0 transparent solid;
}
input:focus ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.7);
}
input:focus :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.login-form {
  /*min-height: 15rem;*/
  margin: auto;
  /*max-width: 60%;*/
  padding: .5rem;
  width: 252px;
  height: 302px;
}

.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 100%;
  padding: .5rem;
  text-align: center;
}
.login-text .fa-stack-1x {
  color: black;
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
}
.login-username:focus, .login-password:focus {
  background: white;
  color: black;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

.login-forgot-pass {
  bottom: 20px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: .5rem;
  text-align: center;
  position: relative;
  width: 100%;
}
.login-forgot-pass:hover {
  opacity: 1;
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}
.login-submit:hover, .login-submit:focus {
  background: white;
  color: black;
  -webkit-transition: 250ms background ease-in;
  transition: 250ms background ease-in;
}

[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}


@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}
#register{
  margin: auto;
  padding: .5rem;
  width: 33%;
}
h2{
  color: #6D7781;
  font-family: 'Sofia', cursive;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.rg-in{
  margin-bottom: 20px;
}
.Register-submit{
  width: calc(100% - 3rem);
  margin: 1rem;
  padding: .5rem;
}
.mv-container {
    font-size: 12px;
    line-height: 14px;
    height: 93%;
    position: relative;
    white-space: nowrap;
    background: #fff;
    margin-right: 1px;
}
.mv-daynames-table {
    background: #fff;
    color: #555;
    table-layout: fixed;
    width: 100%;
}
.mv-dayname {
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    padding: 0 0 0 10px;
    background: #fff;
    color: #555;
    table-layout: fixed;
    width: 100%;
}

.mv-event-container {
    overflow: hidden;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.month-row {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.st-bg-table {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    table-layout: fixed;
}
.st-bg {
    border-left: 1px solid #ddd;
}
.st-grid {
    position: relative;
    table-layout: fixed;
    width: 100%;
}
.st-dtitle-nonmonth {
    background: #fff;
    color: #aaa;
}
.st-dtitle-fr {
    border-top: 0 none;
}

.st-dtitle {
    background: #fff;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #222;
    padding: 4px 9px 0;
    line-height: 16px;
    overflow: hidden;
    -moz-transform: all .218s;
    -webkit-transform: all .218s;
}
.st-s {
    line-height: 10px;
}
.st-s {
    padding-bottom: 2px;
    cursor: default;
}
.st-c {
    vertical-align: top;
}
table td{
    border-right: none;
    border-left: none;
}
table th{
    border: none;
}
.control{
  margin: 5px;
}
.colright{
  float: left;
  display: inline;
  min-width: 523px;
  padding-left: 10px;
  padding-right: 10px;
}
.colleft{
  float: left;
  display: inline;
  min-width: 537px;
  padding-right: 10px;
}
#NE{
  min-height: 466px;
}
.login label.error
{
  color: white;
  padding-left: 15px;
}

#footer {
    width: 100%;
}
.footer-box {
    height: 30px;
    position: relative;
}
.foot-l {
    position: absolute;
    left: 0;
    top:5px;
    text-transform: uppercase;
    color:white;
}